<div class="heroimage">
  <div class="herocontent">
    <h2>Get Instant<strong>Linux</strong></h2>
    <h3>ISO Files:</h3>
    <div class="button">
      <p>Torrent (recommended)</p>
    </div>
    <div class="button">
      <p>Direct Download</p>
    </div>
  </div>

  <a href="#">Installation instructions</a>
</div>
