<header>
  <ul>
    <a routerLink="home"><li><h1>InstantLinux <small *ngIf="currentroute=='/' || currentroute=='/home'">Home</small>
                                              <small *ngIf="currentroute=='/download'">Download</small>
                                              <small *ngIf="currentroute=='/supportus'">Support us</small></h1></li></a>
    <li class="placeholder"></li>
    <li routerLink="home" class="link">Home</li>
    <li routerLink="download" class="link">Download</li>
    <li class="link">Packages</li>
    <li routerLink="supportus" class="link">Support us</li>
  </ul>
</header>

<div class="main">
  <router-outlet></router-outlet>
</div>

<footer>
  <ul>
    <li>27.01.2018 - InstantCodee</li>
    <li class="placeholder"></li>
    <li class="link"><a href="https://github.com/InstantCodee">Github.</a></li>
    <li class="link"><a href="#">Telegram.</a></li>
    <li class="link"><a href="https://discord.gg/TuEqrj2">Discord.</a></li>
  </ul>
</footer>