// HEADER
// ======


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    filter: brightness(80%);
    background-image: url('/assets/bgimage.jpg');
    background-size: cover;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

// Alignment
// ---------

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 20px;
    color: #d9d9d9;
    line-height: 75px;
    margin: 0 5px;
    padding: 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    outline: none;
    height: 75px;
    margin: 0 15px;
}

header ul li.link {
    cursor: pointer;
}

header ul li.placeholder {
    width: 100%;
}

// Header title
// ------------

header h1 {
    font-family: 'Raleway', 'Arial';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: #d9d9d9;
    line-height: 75px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

header h1 small {
    font-weight: 300;
    font-size: 20px;
    line-height: 75px;
    margin-left: 15px;
}

header h1 small::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 55px;
    background: rgba(214, 214, 214, 0.7);
    top: 10px;
    transform: translate(-9px, 0);
}

// Make it responsive
// ------------------

@media (max-width: 550px) {
    header ul li { 
        display: block;
        text-align: center;
        margin: 0;
    }
    header ul {
        display: block;
    }
}

// MAIN AREA
// =========

.main {
    width: 100%;
    min-height: 100%;
}

// FOOTER
// ======


footer {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.25);
}

// Alignment
// ---------

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 20px;
    color: #d9d9d9;
    line-height: 75px;
    margin: 0 5px;
    padding: 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    outline: none;
    height: 75px;
    margin: 0 15px;
    text-transform: uppercase;
}

footer ul li a {
    text-decoration: none;
    color: #d9d9d9;
    outline: none;
}

footer ul li.placeholder {
    width: 100%;
}

// Make it responsive
// ------------------

@media (max-width: 550px) {
    footer ul li { 
        display: block;
        text-align: center;
        margin: 0;
    }
    footer ul {
        display: block;
    }
}