// HERO IMAGE
// ==========

.heroimage {
    background-image: url('/assets/instantlinuxbackground.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.heroimage h2 {
    font-family: 'Raleway', Arial;
    font-weight: 200;
    font-size: 8vh;
    letter-spacing: 0.1em;
    line-height: 2;
    color: #fafafa;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.heroimage h3 {
    font-family: 'Raleway', Arial;
    font-weight: 200;
    font-size: 20pt;
    letter-spacing: 0.1em;
    line-height: 2;
    color: #fafafa;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.heroimage h3 span {
    font-family: 'Monospace';
    font-weight: bold;
}

.heroimage h2 strong {
    font-weight: 700;
}

.heroimage .herocontent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    padding: 2px 0;
}

.button {
    width: 300px;
    height: 80px;
    display: inline-block;
    background: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(217, 217, 217, 0.6);
    border-radius: 40px;
    margin: 20px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    background: rgba(217, 217, 217, 0.25);
}

.button p {
    font-family: 'Raleway', Arial;
    font-weight: 300;
    font-size: 14pt;
    letter-spacing: 0.1em;
    line-height: 80px;
    color: #fafafa;
}