<div class="heroimage">
    <div class="herocontent">
      <h2><strong>Support</strong> us</h2>
      <h3>Bitcoin Address: <span>PLACEHOLDER</span></h3>
      <div class="button">
        <p>Translate</p>
      </div>
      <div class="button">
        <p>Develop</p>
      </div>
    </div>
  
    <a href="#">Installation instructions</a>
  </div>