@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body::before {
    position: fixed;
    content: ' ';
    background-image: url('/assets/bgimage.jpg');
    background-size: cover;
    filter: blur(50px);
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}