<div class="heroimage">
  <div class="herocontent">
    <img src="assets/logo.png" />
    <h2>INSTANT<strong>LINUX</strong></h2>
    <h3>Fast. Pure. Stable.</h3>
  </div>
</div>

<section>
  <div class="col1">
    <i class="fa fa-users"></i>
  </div>
  <div class="col2">
    <h3>Depends on community.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
  </div>
</section>

<section>
  <div class="col2">
    <h3>Get help.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
  </div>
  <div class="col1">
    <i class="fa fa-question-circle-o"></i>
  </div>
</section>

<section>
  <div class="col1">
    <i class="fa fa-lock"></i>
  </div>
  <div class="col2">
    <h3>It's secure.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
  </div>
</section>

<section>
  <div class="col2">
    <h3>Beautifully crafted design.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
  </div>
  <div class="col1">
    <i class="fa fa-star-o"></i>
  </div>
</section>

<section>
    <div class="col1">
      <i class="fa fa-flag-o"></i>
    </div>
    <div class="col2">
      <h3>Independent.</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident saepe ullam est unde beatae quod reiciendis dicta illo repellat quisquam sint consequatur perspiciatis, earum suscipit incidunt quasi dolores molestiae fugiat.</p>
    </div>
  </section>