// HERO IMAGE
// ==========

.heroimage {
    background-image: url('/assets/instantlinuxbackground.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.heroimage img {
    height: 45vh;
    margin: 20px 0;
}

.heroimage h2 {
    font-family: 'Raleway', Arial;
    font-weight: 200;
    font-size: 8vh;
    letter-spacing: 0.1em;
    line-height: 2;
    color: #fafafa;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.heroimage h3 {
    font-family: 'Raleway', Arial;
    font-weight: 200;
    font-size: 24pt;
    letter-spacing: 0.1em;
    line-height: 1;
    color: #fafafa;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.heroimage h2 strong {
    font-weight: 700;
}

.heroimage .herocontent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

// SECTIONS
// ========

section {
    padding: 10vh 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

section .col1 {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

section .col2 {
    display: inline-block;
    width: 66%;
    vertical-align: middle;
    text-align: center;
}

section .col1 i {
    font-size: 12vw;
    color: #d9d9d9;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

section .col2 h3 {
    text-align: center;
    font-family: 'Raleway', Arial;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px 0;
    color: #d9d9d9;
}

section .col2 p {
    padding: 10px 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 14pt;
    color: #d9d9d9;
    font-family: 'Raleway', Arial;
    font-weight: 400;
}

section:nth-child(odd) {
    background: rgba(217, 217, 217, 0.1);
}